{% extends 'base.html' %}


{% block content %}

{% include 'navbar.html' %}



<table class="table table-dark table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">First_Name</th>
        <th scope="col">Last_Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">ZipCode</th>
        <th scope="col">ID</th>
      </tr>
    </thead>
    <tbody>

        {% if records %}
         {% for record in records %}
      <tr>
        
        <td>{{ record.first_name }}</td>
        <td>{{ record.last_name}}</td>
        <td>{{ record.phone}}</td>
        <td>{{ record.email}}</td>
        <td>{{ record.address }}</td>
        <td>{{ record.city }}</td>
        <td>{{ record.state }}</td>
        <td>{{ record.zipcode }}</td>
        <td> <a href="{% url 'website:customer' record.id %}">{{ record.id }}</a> </td>
      </tr>
    {% endfor %}

    {% endif %}
    </tbody>
  </table>
 
{% endblock content%}